footer {
    background-color: #515f67;

}

.footer__wrap {
    max-width: 1167px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .footer__links {
        a {
            font-size: 1.2rem;
            line-height: 2.4rem;
            padding: 0 0.8rem;
            box-sizing: border-box;
            color: #3c474f;
            border-right: 1px solid #3c474f;
            &:last-child {
                border-right: none;
            }
            &:hover {
                color: #ffffff;
            }
        }
    }

    .footer__year {
        color: #3c474f;
    }
}