@font-face {
  font-family: "Segoe";
  src: url("../fonts/Segoe.woff") format("woff"), url("../fonts/Segoe.woff2") format("woff2");
  font-weight: 700;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  max-width: 2960px;
  min-width: 320px;
}

.portfolio__content .portfolio__photos .portfolio__txt:hover, .portfolio__content .portfolio__photos .portfolio__txt, .container-header .container-header__center-panel > div, .container-header .container-header__center-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-section__wrap .twitter-section__header, .default-section__wrap, .portfolio__content .portfolio__photos, .portfolio__content .portfolio__navbar, .services .services__content, .services > span, .container-header .container-header__up-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  max-width: 2960px;
  height: 800px;
  background: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  --bs-gutter-x: 0;
}
.container-header .navbar {
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: #000000;
  opacity: 0.7;
}
.container-header .container-header__up-panel {
  width: 1167px;
  height: 145px;
  margin: 0 auto;
}
.container-header nav a {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #ffffff;
  border: 0;
  padding-right: 3.5rem;
  box-sizing: border-box;
}
.container-header nav a:last-child {
  padding-right: 0;
}
.container-header nav a:hover {
  border: 2px solid #4bcaff;
  color: #4bcaff;
  background-color: #000000;
  opacity: 0.7;
}
.container-header .container-header__center-panel {
  max-width: 2960px;
  height: 650px;
  flex-direction: column;
}
.container-header .container-header__center-panel > div {
  flex-direction: column;
  padding: 1rem 1.5rem 0 1.5rem;
  box-sizing: border-box;
}
.container-header .container-header__txt {
  max-width: 1000px;
  font-size: 4.2rem;
  font-weight: 300;
  color: #ffffff;
}
.container-header .bg-dark {
  opacity: 0.8;
}

.portfolio__content .portfolio__photos .portfolio__txt:hover, .portfolio__content .portfolio__photos .portfolio__txt, .container-header .container-header__center-panel, .container-header .container-header__center-panel > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-section__wrap .twitter-section__header, .default-section__wrap, .portfolio__content .portfolio__photos, .portfolio__content .portfolio__navbar, .services .services__content, .services > span, .container-header .container-header__up-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services {
  color: #ffffff;
  background-color: #4bcaff;
}
.services > span {
  max-width: 1167px;
  font-size: 3rem;
  line-height: 2.4rem;
  margin: 0 auto;
  padding-top: 7.5rem;
  box-sizing: border-box;
}
.services .services__content {
  max-width: 1167px;
  margin: 0 auto;
  padding: 5rem 0 8rem 0;
  box-sizing: border-box;
}
.services .cervices__txt {
  display: flex;
  flex-direction: column;
}
.services .cervices__txt span {
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.services .cervices__txt small {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1rem;
}
.services .coffee-logo {
  width: 34px;
  height: 48px;
  margin-bottom: 2.3rem;
  background-image: url(../images/coffee.png);
  background-repeat: no-repeat;
}
.services .instant-logo {
  width: 48px;
  height: 48px;
  margin-bottom: 2.3rem;
  background-image: url(../images/instant.png);
  background-repeat: no-repeat;
}
.services .serious-logo {
  width: 47px;
  height: 45px;
  margin-bottom: 2.3rem;
  background-image: url(../images/dslr.png);
  background-repeat: no-repeat;
}
.services .frame-logo {
  width: 48px;
  height: 48px;
  margin-bottom: 2.3rem;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
}

.portfolio__content .portfolio__photos .portfolio__txt:hover, .portfolio__content .portfolio__photos .portfolio__txt, .container-header .container-header__center-panel, .container-header .container-header__center-panel > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-section__wrap .twitter-section__header, .default-section__wrap, .portfolio__content .portfolio__photos, .portfolio__content .portfolio__navbar, .container-header .container-header__up-panel, .services > span, .services .services__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__content {
  max-width: 1167px;
  height: 846px;
  margin: 0 auto;
}
.portfolio__content .portfolio__navbar {
  width: 1167px;
  padding-top: 7rem;
  box-sizing: border-box;
}
.portfolio__content .portfolio__name {
  font-size: 3rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #515f67;
}
.portfolio__content nav a {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #000000;
  border: 0;
  padding-right: 4rem;
  box-sizing: border-box;
}
.portfolio__content nav a:last-child {
  padding-right: 0;
}
.portfolio__content nav a:hover {
  border: 2px solid #4bcaff;
  color: #4bcaff;
  background-color: #ffffff;
  opacity: 0.7;
}
.portfolio__content .portfolio__photos {
  flex-wrap: wrap;
  padding: 8rem 0;
  box-sizing: border-box;
}
.portfolio__content .portfolio__photos .portfolio__photo-1 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-1.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-2 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-2.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-3 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-3.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-4 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-4.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-5 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-5.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-6 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-6.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-7 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-7.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__photo-8 {
  width: 270px;
  height: 292px;
  background-image: url(../images/portfolio-photo-8.png);
  border: 10px solid #ffffff;
}
.portfolio__content .portfolio__photos .portfolio__txt {
  width: 250px;
  height: 272px;
}
.portfolio__content .portfolio__photos .portfolio__txt button {
  z-index: -1;
}
.portfolio__content .portfolio__photos .portfolio__txt:hover {
  width: 250px;
  height: 272px;
  background-color: #000000;
  opacity: 0.7;
}

.container-header .container-header__center-panel, .container-header .container-header__center-panel > div, .portfolio__content .portfolio__photos .portfolio__txt, .portfolio__content .portfolio__photos .portfolio__txt:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-section__wrap .twitter-section__header, .default-section__wrap, .container-header .container-header__up-panel, .services > span, .services .services__content, .portfolio__content .portfolio__navbar, .portfolio__content .portfolio__photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-section {
  height: 470px;
  background-color: #515f67;
}

.default-section__wrap {
  max-width: 1167px;
  margin: 0 auto;
  padding: 8rem 0;
  box-sizing: border-box;
}
.default-section__wrap .default-section__txt {
  width: 540px;
}
.default-section__wrap .default-section__txt span {
  font-size: 3rem;
  line-height: 2.4rem;
  color: #ffffff;
  font-weight: 300;
}
.default-section__wrap .default-section__txt p {
  font-size: 1.4rem;
  line-height: 2, 4rem;
  color: #ffffff;
  padding-top: 3rem;
  box-sizing: border-box;
}
.default-section__wrap .default-section__txt button {
  width: 140px;
  height: 45px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 3rem;
  color: #353f46;
  background-color: #515f67;
}
.default-section__wrap .default-section__txt button:hover {
  color: #515f67;
  background-color: #353f46;
}

.twitter-section__wrap .twitter-section__header, .container-header .container-header__up-panel, .services > span, .services .services__content, .portfolio__content .portfolio__navbar, .portfolio__content .portfolio__photos, .default-section__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twitter-section {
  height: 307px;
  background-color: #4bcaff;
}

.twitter-section__wrap {
  max-width: 1167px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding: 8rem 0;
  box-sizing: border-box;
}
.twitter-section__wrap .twitter-section__header span {
  font-size: 3rem;
  line-height: 2.4rem;
  color: #ffffff;
  font-weight: 300;
}
.twitter-section__wrap .twitter-section__header a {
  text-decoration: none;
}
.twitter-section__wrap .twitter-section__header i {
  font-size: 3rem;
  line-height: 2.4rem;
  color: #ffffff;
}
.twitter-section__wrap .twitter-section__contact {
  font-size: 2.8rem;
  line-height: 5rem;
  color: #ffffff;
  font-weight: 300;
}
.twitter-section__wrap .twitter-section__contact a {
  text-decoration: none;
  color: #ffffff;
}
.twitter-section__wrap .twitter-section__contact a:hover {
  border-bottom: 1px solid #ffffff;
}

/*# sourceMappingURL=style.css.map */
